.loading-page{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  opacity: .9;

  &__loader{
    margin: 0 auto;
    position: relative;
    top: calc(50% - 100px);
    width: 80px;
    height: 80px;
    border: 10px solid #f3f5f7;
    border-top: 10px solid #1c4c5b;
    border-bottom: 10px solid #1c4c5b;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;

    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(180deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(180deg); }
    }
  }
}